body {
  padding: 0;
  margin: 0;
}

body > #root > div {
  min-height: 100vh;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), local('Source Sans Pro'),
  url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}